<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Object v-for</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>
<body>
	<div id="app">
		<h2>$key</h2>
		<ul>
			<li v-for="value in object">
				{{$key}}: {{value}}
			</li>
		</ul>
		<h2>(key,value)</h2>
		<ul>
			<li v-for="(ps,value1) in object">
				{{ps}}: {{value1}}
			</li>
		</ul>
	</div>
	<script type="text/javascript">
		new Vue({
			el:"#app",
			data: {
				object:{
					firstname:'wang',
					lastname:'fei',
					sex: 'woman'
				}
			}
		})
	</script>
</body>
</html>