<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>filter方法由于过滤</title>
	<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/vue/1.0.26/vue.min.js"></script>
</head>
<body>
	<div id="app">
	<input v-model="name">
		<ul>
			<li v-for="user in users | filterBy name in 'mes' | orderBy 'mes'">{{user.mes}}</li>
			<!--这里容易错""是被排序的东西-->
		</ul>
	</div>
	<script type="text/javascript">
		new Vue({
			el:"#app",
			data:{
				name: '',
				users:[{
					mes:"wangfei"
				},{
					mes:"lan"
				},{
					mes:"fangi"
				},{
					mes:"hangfei"
				}]
			}
		})
	</script>
</body>
</html>